
<nav class="sidebar">
	<div class="sidebar-contents">
	{{/* テンプレート定義 */}}{{ define "hierarchy" }}{{ if .IsHome }}{{/* ホームだけ別処理 */}}<ul class="nav-groups">
		<li class="nav-group-name-top">
			<a href="{{ .RelPermalink }}index.html">{{ .Title }}</a>
			{{/* ホームは$.Site.RegularPagesのSectionがないのでこれで取り出せる */}} {{ range where $.Site.RegularPages "Section" "" }} <li class="nav-group-task-top"><a href="{{ .RelPermalink }}index.html">{{ .Title }}</a></li>{{ end }}
		</li>
	</ul>
	{{ range .Sections.ByLinkTitle }}{{ template "hierarchy" . }}{{ end }} {{ else }}
	<ul class="nav-groups">
		<li class="nav-group-name">
			<div class="nav-group-middle-name">
				<a href="{{ .RelPermalink }}index.html">{{ .Title }}</a>
			</div>
			{{/* カレントセクション直下のページリスト（ホームは処理分ける） */}}{{ range .Pages.ByDate }}<li class="nav-group-task"><a href="{{ .RelPermalink }}index.html">{{ .Title }}</a></li>{{ end }}
			{{/* カレントセクション直下のセクションは再帰処理 */}}{{ range .Sections.ByPublishDate }}{{ template "hierarchy" . }}{{ end }}
		</li>
	</ul>{{ end }}{{ end }}{{/* テンプレート定義ここまでで終わり */}}{{/* テンプレート呼び出して、一覧読み込む */}}
	{{ template "hierarchy" .Site.Home }}{{/* 終わり */}}
</nav>
<!--
{{/* range .Sections.ByWeight */}}
{{/* range .Pages.ByTitle */}}
{{/* range .Pages.ByLinkTitle */}}
{{/* range .Pages.ByDate */}}
{{/* range .Pages.ByPublishDate */}}
{{/* range .Site.Home.Sections */}}
{{/* range .Sections.ByTitle */}}
{{/* range .Sections.ByLinkTitle.Reverse */}}
-->
