[submodule "xcd0.github.io/xcd0.github.io/public"]
	path = xcd0.github.io/xcd0.github.io/public
	url = https://github.com/xcd0/xcd0.github.io.git
[submodule "xcd0.github.io/themes/learn"]
	path = xcd0.github.io/themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
