
<section id="footer">
	<!-- ここからがSNSボタンです -->
	{{ partial "sns.html" . }}
	<!-- ここまでがSNSボタンです -->
	<!-- ここからが著作権情報です -->
	<div class="div-center"><p>
	&copy; 2019 <a class="link" href="https://xcd0.com" target="_blank" rel="external">xcd0</a>.
		All rights reserved.
		Designed by
		<a class="link" href="https://github.com/realm/jazzy" target="_blank" rel="external">Jazzy ♪♫ v0.5.0</a>.
	</p></div>
	<!-- ここまでが著作権情報です -->
	<div class="content-wrapper">
		{{ template "_internal/disqus.html" . }}
	</div>
	<br>
</section>
