
		<div class="div-right"><p>
			Last updated on {{ $.Lastmod.Format ( $.Site.Params.dateformat | default "2 Jan 2006") }}
			/ Published on {{ $.PublishDate.Format ( $.Site.Params.dateformat | default "2 Jan 2006") -}}.
		</p></div>
<article class="main-content">
	<section class="section">
		<!-- これがメインコンテンツです -->
		<div class=main>
			<h1>{{ .Title }}</h1>
			<hr size="1" color="#ddd" noshade>
			{{ .Content }}
			<!-- これがメインコンテンツです -->
		</div>
	</section>
</article>
<!-- ここからが右側のメインのコンテンツのフッターです -->
{{ partial "footer.html" . }}
<!-- ここまでが右側のメインのコンテンツのフッターです -->
