<header>
<p><a href="index.html">{{ .Site.Title }}</a> ( 0% documented :p )</p>
<h1></h1>
{{ with .Site.Params.version }}
 <span class="version">Version {{ . }}</span>
{{end}}
{{- with .Site.Params.github_repository -}}
<a href="{{ . }}" class="github"><i class="fab fa-github"></i></a>
			<div class="content-wrapper">
				<p class="header-right">
				<a href="{{ . }}">
					<img src="img/gh.png"/>View on GitHub
				</a></p>
			</div>
		<div class="content-wrapper">
			<p id="breadcrumbs">
			<a href="index.html">Light Reference</a>
			<img id="carat" src="img/carat.png" />
			Light  Reference
			</p>
		</div>
{{- end -}}
{{ with .Site.Params.description }}
<p class="description">{{ . }}</p>
{{end}}
</header>
