			<article class="main-content">
				<section>
					<section class="section">
						{{.Content}}
						<!-- ここからが右側のメインのコンテンツのフッターです -->
						<section id="footer">
							<p>&copy; 2019 <a class="link" href="https://xcd0.com" target="_blank" rel="external">xcd0</a>.
								All rights reserved.
								Last updated on {{ $.Lastmod.Format ( $.Site.Params.dateformat | default "2 Jan 2006") }}
								/ Published on {{ $.PublishDate.Format ( $.Site.Params.dateformat | default "2 Jan 2006") -}}. 
								Designed by
								<a class="link" href="https://github.com/realm/azzy" target="_blank" rel="external">Jazzy ♪♫ v0.5.0</a>.
							</p>
						</section>
						<!-- ここまでが右側のメインのコンテンツのフッターです -->
					</section>
				</section>
			</article>