			<nav class="sidebar">
				<ul class="nav-groups">
				</ul>
			</nav>
			<nav class="sidebar">
<ul>
	{{ range $page := .Site.AllPages }}
		<li><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
	{{ end }}
</ul>
				<ul class="nav-groups">
					{{ $currentPage := . }}
					{{ range .Site.Menus.main.ByWeight }}
						{{ if .HasChildren }}
							<li class="nav-group-name">
								<span>{{ .Name }}</span>
								<ul class="nav-group-tasks">
									{{ range .Children }}
										<li class="nav-group-task"><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
									{{ end }}
								</ul>
							</li>
						{{ else }}
							<li><a href="{{ .URL }}">{{- .Name -}}</a></li>
						{{ end }}
					{{ end }}
					
					<li class="nav-group-name">
						<a href="Classes.html">Classes</a>
						<ul class="nav-group-tasks">
							<li class="nav-group-task"><a href="Classes/Args.html">Args</a></li>
							<li class="nav-group-task"><a href="Classes/Args.html">Args</a></li>
							<li class="nav-group-task"><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
						</ul>
					</li>
					<li class="nav-group-name">
						<a href="Classes.html">Classes</a>
						<ul class="nav-group-tasks">
							<li class="nav-group-task"><a href="Classes/Args.html">Args</a></li>
							<li class="nav-group-task"><a href="Classes/Args.html">Args</a></li>
							<li class="nav-group-task"><a href="Classes/Args.html">Args</a></li>
						</ul>
					</li>
				</ul>
			</nav>

  {{ range .Data.Pages }}
    <article>
      <h2>{{ .Title }}</h2>
      {{ .Content }}
    </article>
  {{ end }}